@import 'material-design-lite';

html, body {
  margin: 20px;
}

body {
  font-family: Lato,Helvetica,Arial,sans-serif;
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.mdl-list {
  width: 500px;
  padding-left: 0;

  li {
    line-height: 36px;
    // border-top: 1px solid gainsboro;
  }
}

.mdl-list__item > div {
  display: inline-block;

  &.person-name {
    width: 90%;
  }
}

.mdl-list__item-avatar {
  margin-right: 30px;
  vertical-align: middle;

  &.material-icons {
    font-size: 30px;
  }
}

li.person {
  transition: background-color 0.4s;

  background-color: transparent;

  &.absent {
    color: silver;
  }

  &.winner {
    background-color: lightyellow;
  }

  &:hover {
    background-color: #eee;
  }
}

.person-menu {
  display: inline;
}

.sect-entry {
  margin-top: 20px;

  button {
    margin-left: 10px;
  }
}

ul {
  list-style-type: none;
}
